*{
    border: 1px solid black;
    margin: 0 auto;

}
.first_header{
    /* position: fixed;
    height: 40px;

    width: 100%;
    z-index: 1000; */
    background-color:#ff852a;
}
.one_header_one{
    width: 100%;
    
    /* max-width: 640px; */
    min-width: 300px;
    
    background: rgba(201, 21, 35, 0);
    height: 4px;
    /* position: relative;
    flex-direction: row;
    align-items: center; */
}
/* .first_header>.one_header_one>.logo{
    width: 60px;
    height: 36px;
    position: relative;
    background-position: 0 -103px;
    top:3px;
    left: 10px;
} */

