.first_header{
    padding: 5px 20px 5px 20px;
   position: fixed;
   width: 100%;
   background-color:#ff852a;
   z-index: 1000;
   
 
}
.one_header_one
{
    display: flex;
    position: absolute;
    border: 1px solid rgb(7, 4, 4);
    border-radius: 5px;
    width: 1200px;
    height: 20px;
    padding: 2px 0px;
    margin: 0% auto;
    text-align: center;
}
.one_header_one .placeholder{
    
}
.first_header .logo{
    float: left;
    padding-left: 14px;
    margin-right: 39px;
    width: 174px;
}
.words{

}

