/* 全局样式 */
*{
    margin: 0%;
    padding: 0%;
}
body{
    display: -webkit-flex; /* Safari */
    font-size: 14px;
    font-family:"微软雅黑",sans-serif;
    color: #333;
    display: inline-flex;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}