/* 搜索栏 */
.first_header{
    position: fixed;
    left: 0;
    top: 0;
    height: 40px;
    width: 100%;
    z-index: 1000;
    background-color: #ff852a;
    display:flex;
    min-width: 300px;
	max-width: 100%;
}
.one_header_one{
    position: relative;
    border: 1px solid orangered;
    background-color: orangered;
    width: 100%;
    min-width: 300px;
    padding: 8px 10px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}
/* 搜索栏 */

/* 轮播图 */
.imagesA{
    margin-top: 40px;
}
.imagesA img{
    width: 240%;
}
/* 轮播图 */

